{{!-- home.handlebars --}}
{{#block "content"}}
<div class="main">
			<h2>The Final Farewell</h2>
			<p>
				It is with immense sadness that we announce the untimely demise of one
				of our own, Slade Whiskers. Until we are able to bring his killer to
				justice, we will lay him to rest with the utmost respect for the life he
				led.
			</p>
			<p>
				Slade was a private detective, known for his tireless investigations. He
				was taken from us while pursuing a case involving fragile things being
				knocked off tables. Even in death, Slade's dedication to the cause is an
				inspiration to us all.
			</p>
			<p>
				The funeral will be held next Tuesday at Paws Church. All those who knew
				Slade, loved Slade, and worked with Slade (wherever you may have been)
				are welcome to join us in celebrating his life, and grieving his
				passing.
			</p>

			<div class="images">
				<img src="sladerepose.jpeg" alt="Slade Whiskers lying in repose" />
				<img src="sladeliving.jpeg" alt="Slade Whiskers living and working" />
			</div>
		</div>

        
{{/block}}